body{
    font-size: 14px;
    background-color: #fff;
}
.goods_name {
    max-width: 350px;
}
.goods_filed{
    width: 26%;
}
.goods-container{
    display: flex;
}
.goods-image{
    margin-right: 10px;
    border: 1px solid #ddd;
}
.goodsImage{
    display: block;
}
.goods-info_title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: relative;
    word-break: break-all;
    color: #155bd4;
}
.goods-info_brief {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: relative;
    word-break: break-all;
    color: #999;
    font-size: 12px;
    line-height: 1.6;
}
.goods-info_sub{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 14px;
    color: #f60;
}
.table-options .split {
    margin: 0 3px;
    color: #a9a9a9;
}
/*表格顶部搜索工具栏*/
.list-filter {
    width: 100%;
    position: relative;
    margin: 16px 0;
    background: #f8f8f8;
    padding: 20px 10px 1px;
}
.list-filter .control-group {
    zoom: 1;
    overflow: hidden;
    margin-bottom: 20px;
    min-width: 260px;
    float: left;
}
.list-filter  .control-group .control-label {
    float: left;
    text-align: right;
    line-height: 32px;
    width: 120px;
    font-size: 14px;
    color: #000;
}
.list-filter  .control-group .controls {
    margin-left: 100px;
    word-break: break-all;
}
.zent-input-wrapper {
    background-color: #fff;
    background-color: var(--theme-stroke-9,#fff);
    display: -ms-flexbox;
    display: flex;
    position: relative;
    box-sizing: border-box;
    /*border: 1px solid #dcdee0;*/
    border-color: var(--theme-stroke-5,#dcdee0);
    border-radius: 2px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    overflow: hidden;
    -ms-flex-align: center;
    align-items: center;
}
.zent-input-wrapper.zent-input--size-normal {
    height: 32px;
}
.list-filter .filter-size-normal {
    width: 140px;
    margin-right: 0;
    display: inline-block;
}
.list-filter .filter-size-normal .zent-input{
    width: 100%;
}
.reset-filter-groups-value {
    display: inline-block;
    /*margin-left: 10px;*/
    line-height: 32px;
    vertical-align: middle;
    margin-left: 5px;
}
/*表格顶部搜索工具栏*/
/*下架工具栏*/
.subcomponent-wrapper{
    display: inline-block;
    vertical-align: middle;
}
.batch-selected-wrap{
    margin-right: 10px;
}
/*下架工具栏*/
.plublish-wrapper+.col-sm-12 .list-filter{
    margin-top: 0;
}