body #app-third-sidebar {
    position: relative;
    height: 56px;
    min-width: 750px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 100px 0 5px;
    -webkit-transition: padding-right .5s;
    -moz-transition: padding-right .5s;
    transition: padding-right .5s;
    margin-left: 224px;
}
body.without-second-sidebar #app-third-sidebar {
    margin-left: 92px;
}
@media only screen and (min-width: 1100px){
    body.hide-help #app-third-sidebar {
        padding-right: 100px;
        margin-right: 0;
    }
}
@media only screen and (min-width: 1100px){
    body.show-help #app-third-sidebar {
        margin-right: -224px;
    }
}
.zent-breadcrumb {
    color: #333;
    font-size: 0;
    line-height: 0;
    padding: 15px 0;
}
body  #app-third-sidebar .zent-breadcrumb {
    padding: 21px;
}
.zent-breadcrumb a, .zent-breadcrumb span {
    font-size: 14px;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.zent-breadcrumb span {
    color: #333;
}
#app-help-button {
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
    line-height: 56px;
    padding-right: 20px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
#app-help-container .help-container-head {
    line-height: 56px;
    height: 56px;
    padding: 0 16px;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
}
#app-help-button .app-help-icon, #app-help-container .app-help-icon, .page-help-inner[data-pc-shared] .app-help-icon[data-pc-shared] {
    display: inline-block;
    background: url('../img/icon_144_3.png') no-repeat;
    vertical-align: middle;
    background-size: 72px 270px;
}
#app-help-button .app-help-icon-help, #app-help-container .app-help-icon-help, .page-help-inner[data-pc-shared] .app-help-icon-help[data-pc-shared] {
    width: 16px;
    height: 16px;
    background-position: 0 -180px;
    margin-top: -2px;
    margin-right: 8px;
}
#app-help-button .app-help-icon-close, #app-help-container .app-help-icon-close, .page-help-inner[data-pc-shared] .app-help-icon-close[data-pc-shared] {
    width: 13px;
    height: 10px;
    position: absolute;
    background: url('../img/double_arrow_right.png') no-repeat;
    background-size: cover;
    right: 16px;
    top: 23px;
    cursor: pointer;
}
.header-bread-crumbs{
    float: left;
}
.bread-crumb-item{
    font-size: 14px;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    position: relative;
    color: #969799;
}
.bread-crumb-item:after{
    color: #969799;
    content: "/";
    display: inline-block;
    margin: 0 8px;
}
.bread-crumb-item:last-child{
    color: #323233;
}
.bread-crumb-item:last-child:after{
    display: none;
}